.projectsBody{
    background-color: #283149;
}

.imgProject{
    width: 500px;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.containerItems{
    display: flex;
    flex-direction: column;
    background-color: #404B69;
    box-shadow: -1px 8px 32px 4px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -1px 8px 32px 4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -1px 8px 32px 4px rgba(0, 0, 0, 0.54);
    border-radius: 10px;
}

.containerProjects{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding-top: 2rem;
}